<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PeerShare</title>
        <meta name="description" content="PeerShare: Peer-to-peer file sharing">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <h1 class="title">PeerShare</h1>
        <i class="subtitle">Peer-to-peer file sharing</i>
        <div class="main">
            <div class="upload panel" id="upload-panel">
                <div class="upload-wrapper">
                    <i>Drop a file &#8679</i>
                    <input type="file" id="upload">
                </div>
            </div>
            <div class="download panel" id="download-panel">
                <i>Download file &#8681</i>
            </div>
            <div class="panel" id="loader-panel">
                <div class="loader"></div>
            </div>
        </div>
        <footer>
            <a href="https://github.com/arnav-t/peershare" target="_blank" red="noopener noreferrer">
                <img src="static/github.png" class="gh-button">
            </a>
            <i class="subtitle">Github</i>
        </footer>
        <script src="static/socket.io.js"></script>
        <script src="static/client.js" async defer></script>
    </body>
</html>